/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

body { 
	background-color:#ecece8;
	font-family: minion-pro, ff-tisa-web-pro, georgia, serif;
}

p { 
	margin:20px 0px 20px 0px;
}

img.inline {
	border:15px solid white;
	margin-top:10px;
	margin-bottom:10px;
}


img.sidebar {
	border:12px solid white;
	margin-top:0px;
	margin-bottom:5px;
}





a {
	text-decoration:none;
	color:#bd000d;
}

div#header {
	font-size:1.05em;
	line-height:1.8em;
	color:#191919;
	text-align:left;
	width:650px;

}



h1 {	
	font-size:3em;
	color:black;
	font-weight:normal;
	margin:0px 0px 30px 0px;
	text-align: center;
	
}

h2 {	
	font-size:1.3em;
	padding:30px 0px 0px 0px;
	font-weight:normal;
}

h2#italic {
	font-style:italic;
}

span#quote {	
	font-size:1.3em;
	padding:30px 0px 15px 0px;
	font-weight:normal;
	margin-left:50px;
	font-style:italic;
}


h3 {
	font-size:2.8em;
	font-weight:normal;
	margin:0px;
	text-align:center;
	padding-bottom:25px;
}

div#ribbon {
	width:70px;
	margin-bottom:80px;
	background-color:#bd000d;
	color:white;
	font:1.2em palatino ;
	font-style:italic;
	padding:5px 10px 5px 10px;
	text-align:center;
	
}




img#triad {
	border:7px solid white;
	margin: 10px 5px 10px 5px;
	float:right;
	clear:both;
	
}

div#triad {
	float:left;
	margin:20px 0px 0px 0px;
	font-size:10pt;
	line-height:1.6;
	width:220px;
	
}


div#body {
	margin:0 auto;
	padding-left:35px;
	width:700px;
	font-size:16px;
	line-height:1.8em;
	color:#191919;

}


div#footer {
	float:left;
	clear:both;
	background-color:black;
	height:700px;
	width:100%;
	margin-top:50px;
}



div#body p {
	text-indent:1em;
}	



