<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" /> 
  <meta name="Description" content="Eric Meltzer's essays and notes" /> 
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="http://use.typekit.com/cyd6fip.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29215663-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div id="body">
<a href="/">
<div id="ribbon">
home</div></a>

  {{ content }}
<a href="#">
<div id="ribbonbottom">
to the top!</div></a>

<a href="http://twitter.com/theopencompany">
<div id="ribbonblue">
twitter</div></a>
</div>



</body>
</html>












