<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" /> 
  <meta name="Description" content="Eric Meltzer's essays and notes" /> 
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/notes.css"  />
<script type="text/javascript" src="http://use.typekit.com/cyd6fip.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29215663-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>
<body>

<div id="post">
<a href="/">
<div id="ribbon">
home</div></a>

  {{ content }}
</div>
<div id="footer">
</div>

<script type="text/javascript">
var _sf_async_config={uid:26525,domain:"wheatpondkingfir.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>

</body>
</html>












