<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" /> 
  <meta name="Description" content="TOC Emergency Pack" /> 
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="//use.typekit.net/ccw7pzm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</head>
<body style="background: url(images/bg.png) no-repeat 50% 0; padding-top:830px;">

<div id="body">

  {{ content }}
</div>



</body>
</html>












